/* 
 * Main CSS style sheet for the Santa Lucia Press home page.
 */
/*
 * Styles for the basic document stuff: body, h1, etc.
 */
@font-face {
   font-family: 'BebasNeue';
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/BebasNeue.otf') format('opentype');
}

html {
    background : #adddd1;
    padding : 2em 0 2em 0;
}

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	margin: 0 auto;
	max-width: 960px;
	font-family: "Times New Roman",Georgia,Serif;
}

.container {
    margin: 0 10px 0 10px;
    position : relative;
}

img {
	border: 0;
}

h1 {
    font-family: 'BebasNeue';
	color: #bb1505;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	text-align : center;
	font-size: 2em;
	padding: 5px 0 10px;
	margin: 0px 0px 0px 0px;
}

p {
	padding-top: 15px;
	margin: 0px;
	line-height: 1.5em;
	font-size: 0.9em;
}

a {
	color: #bb1505;
	text-decoration : none;
}

a:hover {
    text-decoration : underline;
}

/*
 * Styles for the main links in the image map.
 * Everything I need to know about image mapping with CSS I learned from this site:
 * http://www.noobcube.com/tutorials/html-css/css-image-maps-a-beginners-guide-/
 *
 */

ul#main-pages {
    width   : 650px;
    height  : 410px;
    list-style: none;
    background: url(../images/mainpagemain_all.jpg) no-repeat 0 0;
    position: relative;
    margin : auto;
    padding: 0;
}

#main-pages-div {
    
}

ul#main-pages li {
	position: absolute;
}

ul#main-pages li a{
	display: block;
	height: 100%;
	text-decoration: none;
}

ul#main-pages li a span {
    /* don't show the text */
    display : none;
}


li#item-site-id {
    left   : 82px;
    top    : 57px;
    width  : 491px;
    height : 273px;
}

li#item-letterpress {
    left   : 89px;
    top    : 332px;
    width  : 124px;
    height : 22px;    
}

li#item-screenprinting {
    left   : 214px;
    top    : 333px;
    width  : 150px;
    height : 24px;
}

li#item-design {
    left   : 358px;
    top    : 329px;
    width  : 81px;
    height : 28px;
}

li#item-illustration {
    left   : 431px;
    top    : 324px;
    width  : 138px;
    height : 32px;
}

li#item-about {
    left   : 129px;
    top    : 368px;
    width  : 51px;
    height : 29px;
}

li#item-contact {
    left   : 182px;
    top    : 368px;
    width  : 70px;
    height : 29px;
}

li#item-email-address {
    left   : 258px;
    top    : 368px;
    width  : 183px;
    height : 29px;
}

li#item-facebook {
    left   : 441px;
    top    : 361px;
    width  : 43px;
    height : 46px;
}

li#item-tumblr {
    left   : 484px;
    top    : 363px;
    width  : 42px;
    height : 39px;
}

/*
 * Styles for the image thumbnails and slideshow
 */

#image-thumbnails {
    margin : 0 auto;
    width  : 800px;
}

.thumbnail-row {
    width  : 800px;
}

.thumbnail {
    display   : inline-block;
}

.thumbnail a {
    margin    : 10px 10px 10px 10px;
    height    : 100%;
    border    : 0;
    outline   : 0;
    display   : inline-block;
    
    box-shadow: 0px 0px 2px 1px #001c4c;
}

.thumbnail a:hover {
    /*outline : #666 solid 2px;*/
    box-shadow: 0px 0px 2px 1px #bb1505;
}

.thumbnail a img {
    /* (800 / 4) - 20 for the gutter */
    width : 180px;
    text-align:center; 
    float:left; 
    position:relative;
}

/* floating label over image */
.thumbnail a div {
    margin             : 5px 10px 5px 10px;
    padding            : 5px; 
    width              : 150px; 
    
    float              : left; 
    position           : absolute; 
    z-index            : 1;
    text-align         : center;
    
    background-color   : #000;
    border-radius      : 1px;
    
    opacity            : 0.7;
    filter             : alpha(opacity=70); /* For IE8 and earlier */
}

.thumbnail a div span {
    width             : 180px; 
    color             : #FFF; 
    font-size         : 0.8em;
}

/** style for the text shown in "About" and "Contact" */
#additional-text {
    margin           : 5px 175px 5px 175px;
    padding          : 0 50px 0 50px;
    
    border-radius    : 2px;
    
    /* Fallback for web browsers that doesn't support RGBa */
    /*background: rgb(255, 255, 255);*/
    /* RGBa with 0.6 opacity */
    /* background: rgba(255, 255, 255, 0.7); */
}
