/* 
 * Main CSS style sheet for the Santa Lucia Press home page.
 */
/*
 * Styles for the basic document stuff: body, h1, etc.
 */
html {
    background : #adddd1;
    padding : 2em 0 2em 0;
}

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	margin: 0 auto;
	max-width: 960px;
	font-family: Helvetica, Arial;
}

.container {
    margin: 0 10px 0 10px;
    position : relative;
}

img {
	border: 0;
}

h1 {
	color: #fc8524;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0px;
}

p {
	padding-top: 15px;
	margin: 0px;
	line-height: 1.5em;
	font-size: 0.9em;
}

a {
	color: #fc8524;
}

/*
 * Styles for the main links in the image map.
 * Everything I need to know about image mapping with CSS I learned from this site:
 * http://www.noobcube.com/tutorials/html-css/css-image-maps-a-beginners-guide-/
 *
 */

ul#main-pages {
    width   : 700px;
    height  : 467px;
    list-style: none;
    background: url(../images/mainpagemain_all.jpg) no-repeat 0 0;
    position: relative;
    margin : auto;
    padding: 0;
}

#main-pages-div {
    
}

ul#main-pages li {
	position: absolute;
}

ul#main-pages li a{
	display: block;
	height: 100%;
	text-decoration: none;
}

ul#main-pages li a span {
    /* don't show the text */
    display : none;
}


li#site-id {
    left   : 60px;
    top    : 39px;
    width  : 540px;
    height : 318px;
}

li#letterpress {
    left   : 94px;
    top    : 358px;
    width  : 135px;
    height : 25px;    
}

li#screenprinting {
    left   : 231px;
    top    : 353px;
    width  : 153px;
    height : 30px;
}

li#design {
    left   : 387px;
    top    : 355px;
    width  : 80px;
    height : 30px;
}

li#illustration {
    left   : 469px;
    top    : 355px;
    width  : 137px;
    height : 29px;
}

li#about {
    left   : 147px;
    top    : 399px;
    width  : 81px;
    height : 28px;
}

li#email-address {
    left   : 230px;
    top    : 400px;
    width  : 192px;
    height : 25px;
}

li#facebook {
    left   : 428px;
    top    : 387px;
    width  : 45px;
    height : 51px;
}

li#tumblr {
    left   : 474px;
    top    : 394px;
    width  : 35px;
    height : 37px;
}

/*
 * Styles for the image thumbnails and slideshow
 */

#image-thumbnails {
    margin : 0 auto;
    width  : 800px;
}

#image-thumbnails a {
    margin : 0 10px 0 10px;
    height : 100%;
    border : 0;
    outline: 0;
}

#image-thumbnails a img {
    /* (800 / 4) - 20 for the gutter */
    width : 180px;
}

