/* 
 * Main CSS style sheet for the Santa Lucia Press home page.
 */
/*
 * Styles for the basic document stuff: body, h1, etc.
 */
html {
    background : #adddd1;
    padding : 2em 0 2em 0;
}

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	margin: 0 auto;
	max-width: 960px;
	font-family: Helvetica, Arial;
}

.container {
    margin: 0 10px 0 10px;
    position : relative;
}

img {
	border: 0;
}

h1 {
	color: #fc8524;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0px;
}

p {
	padding-top: 15px;
	margin: 0px;
	line-height: 1.5em;
	font-size: 0.9em;
}

a {
	color: #fc8524;
}

/*
 * Styles for the main links in the image map.
 * Everything I need to know about image mapping with CSS I learned from this site:
 * http://www.noobcube.com/tutorials/html-css/css-image-maps-a-beginners-guide-/
 *
 */

ul#main-pages {
    width   : 650px;
    height  : 410px;
    list-style: none;
    background: url(../images/mainpagemain_all.jpg) no-repeat 0 0;
    position: relative;
    margin : auto;
    padding: 0;
}

#main-pages-div {
    
}

ul#main-pages li {
	position: absolute;
}

ul#main-pages li a{
	display: block;
	height: 100%;
	text-decoration: none;
}

ul#main-pages li a span {
    /* don't show the text */
    display : none;
}


li#site-id {
    left   : 82px;
    top    : 57px;
    width  : 491px;
    height : 273px;
}

li#letterpress {
    left   : 89px;
    top    : 332px;
    width  : 124px;
    height : 22px;    
}

li#screenprinting {
    left   : 214px;
    top    : 333px;
    width  : 150px;
    height : 24px;
}

li#design {
    left   : 358px;
    top    : 329px;
    width  : 81px;
    height : 28px;
}

li#illustration {
    left   : 431px;
    top    : 324px;
    width  : 138px;
    height : 32px;
}

li#about {
    left   : 122px;
    top    : 368px;
    width  : 68px;
    height : 24px;
}

li#contact {
    left   : 192px;
    top    : 370px;
    width  : 72px;
    height : 23px;
}

li#email-address {
    left   : 256px;
    top    : 371px;
    width  : 185px;
    height : 22px;
}

li#facebook {
    left   : 441px;
    top    : 361px;
    width  : 43px;
    height : 46px;
}

li#tumblr {
    left   : 484px;
    top    : 363px;
    width  : 42px;
    height : 39px;
}

/*
 * Styles for the image thumbnails and slideshow
 */

#image-thumbnails {
    margin : 0 auto;
    width  : 800px;
}

.thumbnail-row {
    width  : 800px;
}

#image-thumbnails a {
    margin : 0 10px 0 10px;
    height : 100%;
    border : 0;
    outline: 0;
}

#image-thumbnails a img {
    /* (800 / 4) - 20 for the gutter */
    width : 180px;
}

